body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #414040 !important;
  weight: 300;
}

figure {
  margin: auto;
}

.content article {
  padding: 100px 0;
  max-width: 640px;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.bird-box {
  position: relative;
  height: 600px;
  background-image: url(https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/images/bird-bg.jpg);
  background-size: auto 600px;
  background-position: top-center;
  background-attachment: fixed;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: 100%;
  background-image: url(https://raw.githack.com/xavierrocks/xavierrocks.github.io/master/images/black-bird-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -50px;
}

.fore-bird {
  width: 960px;
  height: 733px;
  background-image: url(https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/images/fore-bird.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 380px;
}

.back-bird {
  width: 960px;
  height: 298px;
  background-image: url(https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/images/back-bird.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: absolute;
  left: 50%;
  margin-left: -480px;
}

/*Model Grid*/
.clothes-pics {
  margin-bottom: 100px;
}
.clothes-pics figure {
  margin-bottom: 20px;
  position: relative;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.3s ease-in-out;

}

.clothes-pics figure:hover {
  figcaption{left: 100%;}
}

.clothes-pics figure img {
  display: block;
}
.clothes-pics figcaption {
  position: absolute;
  bottom:  10px;
  left: 0;
  background: black;
  color: white;
  padding: 2px 8px;
  font-size: 11px;
  transition: all 0.3s ease-in-out;
}

.showing {
  opacity: 1 !important;
  transform: translateX(0px) !important;
}

.large-window {
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/images/model2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.large-left {
  height: 540px;
  width: 640px;
  background-color: white;
  position: absolute;
  transform: skewX(-30deg);
  right: 60%;
}

.large-right {
  height: 540px;
  width: 640px;
  background-color: white;
  position: absolute;
  transform: skewX(30deg);
  left: 60%;
}
