.jumbotron h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.jumbotron h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
} 


.jumbotron {
  background-color: transparent;
}

.jumbotron img {
  max-width: 70%;
}

.technologies-used li {
  display: inline-block;
  background: lightgray;
  border-radius: 24px;
  padding: 12px;
  margin: 4px 3px;
}

.card-reveal h4 {
  font-size: 1.28em;
  font-weight: 300;
}