html,
body {
  height: 100%;
}


header {
  width: 100%;
  min-height: 55px;
  background-color: #fafafa;
}

header > .container {
  height: 60px;
  padding-top: 0;
}


nav {
  height: 75px;
  color: black !important;
}

nav ul li a {
  height: 75px;
  color: black !important;
}

.sidenav-trigger {
  color: black !important;
}

.nav-wrapper {
  height: 75px;
}

.nav-wrapper ul li {
  background-color: #fafafa;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.12)
}


#logo-container {
  text-align: center;
  height: 100% !important;
}

#logo-container-large {
  text-align: center;
  position: absolute;
  top: 0;
}

#logo1 {
  z-index: 2;
}

#logo2 {
  top: 0;
  left: -50px;
}

.sidenav li>a#logo-container:hover {
  background-color: transparent;
}


.logo {
  height: 250px;
  line-height: 250px !important;
  margin-bottom: 20px;
}

.front-page-logo {
  width: 200px;
  position: relative;
  top: 25px;
}

.inside {
  left: 6px;
  padding-left: 20px;
  position: relative;
  height: 50px;
  border-bottom: 3px solid #CCCCCC;
  width: 200px;
}

a.active {
  background: rgba(0,0,0,.0375);
}

a.active > .inside:after {
  background: #CCCCCC;
}

.inside:after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -1.1em;
  bottom: -0.6em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #CCCCCC;
  z-index: 300;
}

p.name {
  position: relative;
  bottom: 550px;
  z-index: 3;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 22px;
  font-size: 1.35em !important;
}

p.name-large {
  position: relative;
  bottom: 145px;
  z-index: 3;
  color: white;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: bolder;
  line-height: 22px;
  font-size: 0.85em !important;
}

p.name span {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .7em;
}

p.name-large span {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .7em;
}


@media only screen and (min-width: 992px) {
  nav {
    height: 275px;
  }
}

.nav-and-contact {
  height: 275px;
  width: 100%;
  position: absolute;
  top: 0;
}


.contacts {
  margin-top: 60px;
}


img {
  padding: 15px;
  border-style: none;
  height: 100%;
  width: 100%;
}

nav a.sidenav-trigger i {
  height: 75px;
  line-height: 75px;
  border-radius: 8px;
}

nav a.sidenav-trigger {
  height: 75px;
  line-height: 75px;
}


.collapsible-header {
  padding-left: 31px !important;
}

.collapsible-body li a {
  padding-left: 50px !important;
}


.jumbotron {
  /* background-image: url("https://raw.githubusercontent.com/xavierrocks/xavierrocks.github.io/master/trippyGlassesLMin.jpg"); */
  background-size: cover;
  padding-bottom: 14px !important;
  position: relative;
  background-position: center center;
  background-color: #e8e8e8;
}

footer {
  padding-bottom: 20px;
}

footer h5 {
  font-weight: bold;
}

footer.page-footer ul>li a {
  display: block;
  padding: 7px 5px;
}

footer.page-footer ul {
  margin-top: 0;
  margin-bottom: 0;
}


.sidenav li>a {
  height: 75px !important;
  line-height: 55px !important;
  font-size: 1.25em;
}

@media (max-width: 600px) {
  .row .col.s12.m4 {
    text-align: center;
  }
}

@media (max-width: 1000px) {}

footer .container .row {
  margin-bottom: 0;
}




/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}