//output:index.html
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title BlackBird Co.
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/layout1.min.css')
    script.
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  body
    header.bird-box
      .back-bird
      .logo
      .fore-bird
    section.content
      article
        h1 Clothing Store
        hr
        p
          | POO roIpsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr
        .clothes-pics
          .row.img-row
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model1.jpg', alt='Model')
              figcaption
                | BlackBird Sweater - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model2.jpg', alt='Model')
              figcaption
                | BlackBird Trousers - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model3.jpg', alt='Model')
              figcaption
                | BlackBird Jacket - 
                strong $135
          .row.img-row
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model1.jpg', alt='Model')
              figcaption
                | BlackBird Sweater - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model2.jpg', alt='Model')
              figcaption
                | BlackBird Trousers - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model3.jpg', alt='Model')
              figcaption
                | BlackBird Jacket - 
                strong $135
          .row.img-row
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model1.jpg', alt='Model')
              figcaption
                | BlackBird Sweater - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model2.jpg', alt='Model')
              figcaption
                | BlackBird Trousers - 
                strong $135
            figure.columns.four
              img(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0/images/model3.jpg', alt='Model')
              figcaption
                | BlackBird Jacket - 
                strong $135
        h1 Clothing Stores
        hr
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
        hr
        .large-left
        .large-right
        .large-window
      div(style='height: 2000px')
    script(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0//js/jquery-2.1.3.min.js')
    script(src='C:/Users/xruiz_000/Desktop/Parallax-on-the-Web-DevTips--0.0//js/functions.js')
